<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.pagedemo.dao.GameMapper">
    <select id="getGameListInfos" resultType="com.bdqn.pagedemo.pojo.Game">
        SELECT * FROM game where 1=1
        <if test="name!=null and name!=''">
            AND `name` = #{name}
        </if>
            LIMIT #{pageNo},#{pageSize}
    </select>
</mapper>